.card-new {
    position: relative;
    margin: 20px;
    margin-bottom: 40px;
    float: left;
  }

  .add-card-btn {
    font-size: 30px;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 0px;
    bottom: -60px;
    background-color: cadetblue;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.add-card-btn:hover {
    background-color: white;
}
.date-time{
  background: cadetblue;
   font-size: 11px;
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
}
.typcn-trash {
    display: none;
    font-size: 50px;
}
.card:hover .typcn-trash {
    display: block;
}
.typcn-trash:hover {
    cursor: ponter;
}
.card {
    position: relative;
    width: 180px;
    height: 190px;
    background-color: white;
    float: left;
    margin: 20px;
    text-align: center;
    padding: 10px;
    overflow: auto;
}
